{% extends 'ILCBackOfficeBundle::template.html.twig' %}
{% block left %}
<br/><br/>
<div class="sidebar_box">
						<div class="sidebar_box_top"></div>
						<div class="sidebar_box_content">
							<h3>Info</h3>
							<p>Inofrmations et modification de Module</p>
						</div>
						<div class="sidebar_box_bottom"></div>
					</div>
{% endblock %}
{% block main %}
<h2>Détails Module {{ module.code }}</h2>
<br/>
<table id="rounded-corner" style="width: 900px">
<thead>
	<tr>
		<th scope="col" class="rounded-company">&nbsp;</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th scope="col" class="rounded-q4">&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>&nbsp;</td>
		<td>Groupe : </td>
		<td>{{ module.groupmodule.name }}</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Code : </td>
		<td>{{ module.code }}</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Intitulé : </td>
		<td>{{ module.intitule }}</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>description : </td>
		<td>{{ module.description }}</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Sessions : </td>
		<td>
			{% for sf in module.sessions %}
			 -	<a href="{{ path('bo_session_show', {id: sf.id}) }}">{{ sf.code }} - {{ sf.intitule }}</a> - <i>{{ sf.datedebut| localizeddate('full', 'none', app.request.locale ) }} {{ sf.heuredebut|date('H:i') }}</i><br/>
			{% endfor %}
		</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>Stagiaires : </td>
		<td>
			{% for sg in module.stagiaires %}
			 - <a href="{{ path('bo_stagiaire_show', {id: sg.id}) }}"><b>{{ sg.nom }} {{ sg.prenom }}</b></a> &nbsp; {{ sg.email }}<br/>
			{% endfor %}
		</td>
		<td>&nbsp;</td>
	</tr>
</tbody>
<tfoot>
	<tr>
		<td class="rounded-foot-left">&nbsp;</td>
		<td colspan="2" align="center">&nbsp;</td>
		<td class="rounded-foot-right">&nbsp;</td>
	</tr>
</tfoot>
</table>
<br/>
<h2>modifier le Module</h2>
<br/>
{{form_start(mod_form, {'method':'POST', 'action': path('bo_module_edit', {id:module.id})})}}
<table>
	<tr>
		<td align="right">{{ form_label(mod_form.groupmodule) }} : </td>
		<td>{{ form_widget(mod_form.groupmodule,{'attr' : {'style':'width:400px;'}} ) }}</td>
	</tr>
	{% if form_errors(mod_form.groupmodule) %}
	<tr>
		<td colspan="2">{{ form_errors(mod_form.groupmodule) }}</td>
	</tr>
	{% endif %}
	<tr>
		<td align="right">{{ form_label(mod_form.code) }} : </td>
		<td>{{ form_widget(mod_form.code,{'attr' : {'style':'width:200px;'}} ) }}</td>
	</tr>
	{% if form_errors(mod_form.code) %}
	<tr>
		<td colspan="2">{{ form_errors(mod_form.code) }}</td>
	</tr>
	{% endif %}
	<tr>
		<td align="right">{{ form_label(mod_form.intitule) }} : </td>
		<td>{{ form_widget(mod_form.intitule,{'attr' : {'style':'width:200px;'}} ) }}</td>
	</tr>
	{% if form_errors(mod_form.intitule) %}
	<tr>
		<td colspan="2">{{ form_errors(mod_form.intitule) }}</td>
	</tr>
	{% endif %}
	<tr>
		<td align="right">{{ form_label(mod_form.description) }} : </td>
		<td>{{ form_widget(mod_form.description,{'attr' : {'style':'width:200px;'}} ) }}</td>
	</tr>
	{% if form_errors(mod_form.description) %}
	<tr>
		<td colspan="2">{{ form_errors(mod_form.description) }}</td>
	</tr>
	{% endif %}
	<tr>
		<td colspan="2" align="center"><input name="Submit" type="submit" class="button" value=" Submit " /></td>
	</tr>
</table>
{{form_end(mod_form)}}
{% endblock %}