{% extends 'ILCBackOfficeBundle::template.html.twig' %}
{% block left %}
<br/><br/>
<div class="sidebar_box">
						<div class="sidebar_box_top"></div>
						<div class="sidebar_box_content">
							<h3>Info</h3>
							<p>Aperçu des sessions de formation</p>
							<p><a href="{{ path('bo_groupemodules_list') }}">Affichage Classique des modules</a></p>

						</div>
						<div class="sidebar_box_bottom"></div>
					</div>
{% endblock %}
{% block main %}
<h2>Liste des Sessions par Date et heure de début</h2>
<br/>
 <ul>
 	{% for sf in ses %}
 	 <li><b>({{ sf.code }})</b> &nbsp; {{ sf.intitule }} - (<a href="{{ path('bo_session_show', {id: sf.id}) }}">Détail</a> | <a href="{{ path('bo_session_del', {id: sf.id}) }}" onclick="{{ 'ses.del.alert' | trans }}">Supprimer</a>)<br/>
 	 		<i>du {{ sf.datedebut| localizeddate('full', 'none', app.request.locale ) }} à {{ sf.heuredebut|date('H:i') }} au {{ sf.datefin| localizeddate('full', 'none', app.request.locale ) }} à {{ sf.heurefin|date('H:i') }}</i><br/>
 	 <u><b><i>{{ sf.stagiaires | length }} / {{ sf.maxparticipants }} inscrits</i></b></u><br/><br/>
 	 </li>
 	{% endfor %}
 </ul>
<br/><br/>
{% endblock %}
